:root {
  --form--blue: #5ca0c1;
  --form--orange: #fd9a00;
  --form--gold: #fcd000;
  --form--yello: #ffcb7a;
  --form--brown: #5f5f5f;
  --form--purp: #b888e8;
  --form--green: #88e683;
  --form--red: #ff7a7a;
}



body{
background-color: #f5f5f5;
font-family: avenir, verdana, sans-serif;
margin: 0px;
}

h1{
text-align: center;
}
form>*{
  font-size: 30px;
  text-align: center;
}
form button {
  padding: 15px;
  background-color: #feab00;
  font-size: 25px;
  padding: 10px;
  border: none;
}

form div{
  display: flex;
  justify-content: center;
}

img{
  margin-left: 20%;
}

form div a:focus{
background-color: #fff;
outline: 3px solid #ffab00;
}
form div a{
  padding: 15px;
  color: #000;
  text-decoration: none;
  border-bottom: 7px solid #ffab00;
  margin: 10px;
}
.hide{
opacity: 0;
}
input{
  font-size: 40px;
  text-align: center;
  border: none;
  border-bottom: 7px solid #ffab00;
}


.key-container{
max-width: 60%;
margin: auto;
}

.holder{
  margin: auto;
  max-width: 50%;
}

.key{
  width: 60px;
  height:60px;
  display:block;
  border: 1px solid #333;
  background-color: #fff;
  text-align: left;
  padding-left: 8px;
  line-height: 29px;
  border-radius:2px;
  float:left; margin-left: 2px;
  margin-bottom:2px;
  transition: box-shadow 0.2s ease;
  margin: 5px;
}


.lefd{
background-color: var(--form--red);
}
.midL{
background-color: var(--form--green);
}
.midR{
background-color: var(--form--purp);
}
.right{
background-color: var(--form--blue);
}

fieldset{
border: none;
}

.dual {
  font-size: 14px;
  line-height: 20px;
  width:30px;
}

.backspace {
  width:84px;
  font-size: 12px;
}
.Space{
  width: 260px;
  background-color: var(--form--purp);
}
.Tab {
  width: 50px;
  line-height: 40px;
  font-size:13px;
}
.letter{
width: 50px;
}
.Backslash{
width:64px;
}
.CapsLock{width:70px; font-size:12px; line-height:18px;}
.Enter{width:92px; line-height:40px; text-align: center; padding-left:0;}
.shift.left{
width: 90px;
line-height: 40px;
font-size:13px;
}

.shift.right{
width: 104px;
line-height: 40px;
font-size:13px;
}

.container{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 69%;
  margin: auto;
  width: 69%;
}

.container p{
  text-align: center;
  padding: 5px;
  max-height: 40px;
  max-width: 30px;
}

.selectet{
background-color: var(--form--blue);
/* border-radius: 50%; */
}

.selected{
background-color: var(--form--yello);
/* border-radius: 50%; */
}

.feb p:nth-child(n+29){
display: none;
}

.lowEnd p:last-child{
display: none;
}


.test{
  background-color: var(--form--blue);
}

.form-c{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* .key:hover{box-shadow:0px 0px 10px #14B524; z-index:1000;} */
.date{
text-align: center;
}
